body{
    background-color: pink;
}
h1{
    text-align: center;
    font-family: Georgia, serif;
    text-decoration: underline;
}
#outer{
    height: 430px;
    width: 610px;
    margin-left: 300px;
    margin-top: 30px;
    border: black solid 1.5px;;
}
#outer-box{
    height: 420px;
    width: 600px;
    background-color: indigo;
    margin-left: 3.5px;
    margin-top: 3.5px;
    border: black solid 1.5px;
}
.inner{
    display: flex;
    height: 140px;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: palevioletred;
    rotate: 45deg;
    border: black solid 1.5px;
}
#box6{
    background-color: skyblue;
}
#box7{
    background-color: skyblue;
}

